<ion-view class="view-login">

<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-content scroll="false" has-header class="extra-padding">

<div class="list">

  <h3 translate="ForgotPasswordTitle"></h3>

  <form name='form_data' novalidate>
    <div class="view-form">
      
      <label class="item item-input  item-floating-label">
        <span class="input-label" 
              translate="ProfileEmail"></span>
        <input type="email"   
               translate
               translate-attr-placeholder="ProfileEmail" 
               name='email' 
               ng-model='vm.formData.email'
               required>
      </label>

    </div>

    <button class="button button-block button-assertive" 
            ng-disabled='form_data.email.$invalid'
            type="button"
            ng-click="vm.send(vm.formData)">
      {{ 'CommonSend' | translate }}
    </button>

  </form>

</div>


</ion-content>

</ion-view>
