<ion-view class="view-intro">
<ion-content scroll="false" class="padding content-intro-bg">

    <div class="row">
        <div class="col">
            <img class="title-logo" ng-src="./img/dlb-logo-v1.png"></img>
        </div>
    </div>

</ion-content>

<ion-footer-bar class='bar-positive'>
  <div class='col'>
    <button class="button" ui-sref="login">
      {{ 'LoginLogin' | translate }}
    </button>   
  </div>

  <div class='col'>
    <button class="button" ui-sref="signup">
      {{ 'IntroGetStarted' | translate }}
    </button>     
  </div>
</ion-footer-bar>


</ion-view>
