<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudinaryDotNet" version="1.0.22" targetFramework="net452" />
  <package id="Formo" version="1.4.4.40853" targetFramework="net452" />
  <package id="LanguageExt" version="1.7.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
</packages>