body {
  padding-top: 0;
  padding-bottom: 0; 
  background-color:#F8F8F8;
}

body,
html {
  width: 100%;
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700; }

.topnav {
  font-size: 14px; }

img.logoHeader {
  width: 35px;
  position: absolute;
  top: 8px;
  left: 8px; }

img.logo {
    width: 200px;
}

.lead {
  font-size: 18px;
  font-weight: 400; }

.intro-header {
    text-align: center;
    color: #777;
    background: url(./img/intro-bg.png) no-repeat top right;
    background-size: cover;
    background-color: #F8F8F8;
    height: 250px; 
    margin-top: 50px;
}

.intro-message {
    position: relative;
    float: left;
    margin: 40px 0px;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em; }

.intro-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }

.mobile-screenshots {
  padding: 20px 0px 0px 25px; }

.text-description {
  width: 80%;
  margin: 0 auto; }

.form-control {
  margin: 10px 0px; }

.btn-primary {
  color: #fff;
  background-color: #e0922f;
  border-color: #e0922f; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #e0922f;
  border-color: #e0922f; }

.contact-body {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@media (max-width: 767px) {
  .intro-message { }
    .intro-message > h1 {
      font-size: 3em; }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0; }

  .intro-divider {
    width: 100%; } }
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px; }

.content-section-welcome {
  padding: 50px 0;
}

.content-section-download {
    padding: 50px 0 0 0;
    background-color: #EFEFEF;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7; }

.section-heading {
  margin-bottom: 30px; }

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7; }

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(./img/banner-bg.jpg) no-repeat center center;
  background-size: cover; }

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em; }

.banner ul {
  margin-bottom: 0; }

.banner-social-buttons {
  float: right;
  margin-top: 0; }

.faq-title {
  text-align: left; }

.faq-companion {
  background-color: #F3F3F3;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
  text-align: justify; }

.faq-workingdogs {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
  text-align: justify; }

.faq-more {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
  text-align: left; }

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px; } }
@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em; }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0; } }
footer {
  padding: 50px 0;
  background-color: #f8f8f8; }

p.copyright {
  margin: 15px 0 0; }

/*# sourceMappingURL=Site.css.map */
