@model Doglogbook.EntityFramework.Models.RegistrationOfInterest.RegistrationOfInterest
@{
    Html.SetI18NPrefix("Views:Home:Index:");
    ViewBag.Title = Html.T("Title", "Home");
}

@section Styles {
    @Styles.Render(Links.Content.landing_page_css)
}

<!-- Page Content -->


<div class="content-section-welcome">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">

                <h2 class="section-heading">Hooray, you found us!</h2>
                <p class="lead">
                    Welcome to <strong>doglogbook</strong>, an exciting world-first app that will optimise puppy socialisation and help dogs get the best out of life.
                </p>
                <p class="lead">
                    This free app will offer you new ways to recognise and meet your dog’s needs, with the opportunity to let your vet see into your dog’s world and better understand how your dog is behaving.
                </p>
                <p>
                    You'll even help researchers through your participation as a citizen scientist. 
                </p>
            </div>
            <div class="col-lg-6 col-mg-12 col-sm-12 mobile-screenshots">
                <img class="img-responsive" src="~/Content/img/doglogbook-mobile-desktop.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="content-section-download">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="img-responsive" src="~/Content/img/devices.png" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">

                <h2 class="section-heading">GET IT NOW</h2>
                <p class="lead">
                    With you, doglogbook will become your dog’s best friend.
                </p>
                <div class="row">
                    <div class="col">
                        <a href="https://itunes.apple.com/us/app/doglogbook/id1109209580?ls=1&mt=8" target="_blank">
                            <img src="~/Content/img/itunes.png" alt=""  style="width: 200px;padding: 5px;">
                        </a>
                    </div>    
                    <div class="col">
                        <a href="https://play.google.com/store/apps/details?id=com.smartleague.doglogbook" target="_blank">
                            <img src="~/Content/img/googleplay.png" alt="" style="width: 200px;padding: 5px;">
                        </a>
                    </div>    
                </div>    


            </div>
        </div>


    </div>
    <!-- /.container -->

</div>


<div class="content-section-welcome">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">

                <h2 class="section-heading">Doglogbook Premium Analytics</h2>
                <p class="lead">
                    Beyond the <strong>doglogbook</strong> app itself, you can also consult the history of your data or invite your dog’s vet, trainer, therapist or handler to see the data you have collected with the app in <strong>doglogbook</strong> dashboard.
                </p>
                <p>
                    <a href="http://dashboard.doglogbook.com/" target="_blank">Log into</a> your dashboard.
                </p>
            </div>
            <div class="col-lg-6 col-mg-12 col-sm-12 mobile-screenshots">
                <img class="img-responsive" src="~/Content/img/browsers.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-welcome">

    <div class="container">

        <div class="row">
            <div class="col">
                <p class="lead">
                    Developed by the dogmanship team at the Faculty of Veterinary Science, University of Sydney, Australia, <strong>doglogbook</strong> is free and we respect your privacy. You can unsubscribe at any time.
                </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>