@{
    Layout = MVC.Shared.Views._Layout;
}

@section Scripts {
    @RenderSection("Scripts", false)
}
@section Styles {
    @RenderSection("Styles", false)
}

<div class="container">
    @RenderBody()
</div>

