<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Doglogbook.Main;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DoglogbookDbConnection" value="DefaultConnection" />
    <add key="DoglogbookWebAddress" value="https://localhost:44384" />
    <add key="AdminEmail" value="admin@smart-sports.com.au" />
    <add key="AdminPassword" value="sladmin321" />
    <!-- Cloudinary -->
    <add key="CloudinaryAccountName" value="statsone" />
    <add key="CloudinaryKey" value="162183438278975" />
    <add key="CloudinarySecret" value="tDMakTP6xxHt_8X7CTa4nv1yQcI" />
    <add key="CloudinarySalt" value="statsone_debug" />
    <add key="CloudinaryPetProfile" value="dlb/pet/" />
    <!-- Tasks Messages -->
    <add key="TaskMsgProblematicBehaviour" value="{0} has exhibited {1} behaviours that may be associated with {2} in the last 14 day period. We recommend seeking help from your vet." />
    <add key="TaskMsgActivitiesHealthCheckA" value="You haven’t logged any activity or behaviour for the past 4 weeks" />
    <add key="TaskMsgActivitiesHealthCheckB" value="{0}'s enjoyment for {1} hasn't been as high as usual. Does he need a health check?" />
    <add key="TaskMsgDogJoyFirstEntry" value="Good work {0}'s doglogbook records for {1} have begun!" />
    <add key="TaskMsgDogJoySecondEntry" value="Good work {0} needs another 3 more records to get a trendline for {1}." />
    <add key="TaskMsgDogJoyThirdEntry" value="Good work {0} needs another 2 more records to get a trendline for {1}." />
    <add key="TaskMsgDogJoyFourthEntry" value="Good work {0} needs another 1 more record to get a trendline for {1}." />
    <add key="TaskMsgDogJoyDogJoyNeutral15" value="{0}'s enjoyment of {1} is constant." />
    <add key="TaskMsgDogJoyDecreasing1645" value="{0}'s enjoyment of {1} has dropped." />
    <add key="TaskMsgDogJoyDecreasingOver45" value="Alert: {0}'s enjoyment of {1} has dropped. You may wish to consult your vet." />
    <add key="TaskMsgDogJoyImprovemenet1645" value="Good news. {0}'s enjoyment of {1} has improved." />
    <add key="TaskMsgDogJoyImprovemenetOver45" value="Great news! {0}'s enjoyment of {1} has strongly improved." />
    <add key="TaskMsgPuppySocialisation_1" value="Well done!, you have started socialising {0}! This is the very best way to avoid behavioural problems down the track." />
    <add key="TaskMsgPuppySocialisation_2" value="Good work! Exposing {0} to a broad range of experiences is critical to success in puppy rearing." />
    <add key="TaskMsgPuppySocialisation_3" value="Great work! Exposing {0} to several good experiences with each event or stimulus is critical to success in puppy rearing." />
    <add key="TaskMsgPuppySocialisation_4" value="Great job! It's important to find novel ways to expose {0} to a variety of experiences." />
    <add key="TaskMsgPuppySocialisation_5" value="Great work! This brings {0} to half of the doglogbook socialisation target." />
    <add key="TaskMsgPuppySocialisation_6" value="Outstanding work! All of your efforts will help {0} to deal with life as an adult." />
    <add key="TaskMsgPuppySocialisation_7" value="Excellent progress! The world is less likely to distress {0}, thanks to your hard work." />
    <add key="TaskMsgPuppySocialisation_8" value="A few more events and you'll have reached the 2,000 points." />
    <add key="TaskMsgPuppySocialisation_9" value="Awesome! You have reached your target 2,000 pts. Remember to keep visiting a variety of places that {0} doesn’t normally encounter." />
    <add key="VersionNumber" value="1.4.3" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@doglogbook.com">
        <network host="smtp.sendgrid.net" password="bzleslra" userName="azure_a5b63cc7a6f58a83587996abc403188e@azure.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <machineKey
      validationKey="E103CC26461C51E52BB615CABD951F16525413855F6B12EEB732529DB5662A66CC52089175075DF2B5B02C1D3CF0047CF78208FF240CB9B1584638A8914906EB"
      decryptionKey="707E48858AE90EFC48E129128A9C6F729537D10212C0697C9C6DCA6BC26340EC"
      validation="SHA1" decryption="AES"
    />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="DEBUG" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
