.view-initialactivityrate {

  p.subtitle  {
    text-align: center;
  }

  .itemSeparator {
    border-bottom: 2px solid;
  }


  .range-not-applicable {
    border-bottom: 0px;
  }
  
  .rageMin {
    font-size: 0.8em;
    float: left;
  }

  .rageMax {
    font-size: 0.8em;
    float: right;
  }
}

