.view-treatments { 


  .filter-empty {
    text-align: center;
    padding-top: 20px;
    color: #999; 
  }

  .badge {
      margin: 20px 0px;
      height: 35px;
      font-size: 0.8em;
      width: 35px;
  }
  
}

