<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<ion-view class="view-profile" view-title="{{ 'UserguidanceTitle' | translate }}">



  <h1 class="page-header">User Guidance</h1>

<ion-content scroll="true"
  class="padding has-subheader ">

       <script type='text/javascript'>
          function chgFrame( url )
          {
            frames[0].location.href=url;
          }
          document.write( Date() );
          </script>

          <iframe width='100%' height='2200px' id='myfrm'
            src='templates/userguidancePages/userguidance_1.html'  scrolling="yes" marginwidth="140" marginheight="80" frameborder="0"
            vspace="0" hspace="0"></iframe>






</ion-content>


</ion-view>
