$stable:                          #F7931E !default; // Orange
$positive:                        #F7931E !default; // Orange
$calm:                            #11c1f3 !default; // No Button Transparent 
$balanced:                        #3a5795 !default; // Facebook
$energized:                       #cc3333 !default; // Google Plus
$assertive:                       #6699cc !default; // Twitter
$royal:                           #886aea !default;
$dark:                            #444 !default;