
@{
    ViewBag.Title = "User Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <h2>Doglogbook App User Guide</h2>

    <p>
        The doglogbook app allows you, as owners, to collect information regarding your dog’s activities and behaviour, socialisation and healthcare. By monitoring this data, you can assess your dog’s general wellbeing to ensure they experience the best possible quality of life. The application can be downloaded on iPhone or Android smart phone or tablet devices, and works best if you have push notifications switched on, on your chosen device. This enable the app to send pop-up reminders if you haven’t logged in for a few days. We recommend spending approximately 5 minutes every 1-2 days logging information on your dog and believe it is more beneficial to record trends rather than every activity or behaviour.
    </p>

    <h4>
        Creating an account
    </h4>
    <p>
        <ol>
            <li>To set up an account via the doglogbook app click on <b>Create</b> account. Alternatively, go to doglogbook.com and click on the <b>Register</b> tab.</li>
            <li>Enter a valid email address and password.</li>
            <li>Check your email Inbox for a confirmation email from doglogbook.com. If you have not received a
confirmation email, please ensure you check your Junk email box.</li>
            <li>Click on the confirmation link in the email to active your account.</li>
            <li>Log in to the doglogbook app using the nominated email and password.</li>
        </ol>
    </p>

    <h4>
        Creating a profile for your dog
    </h4>
    <p>
        <ol>
            <li>To create a profile for your dog click on the <b>More</b> tab, to the right-hand side of the screen and then select <b>Add Dog</b> from the pop-up menu at the bottom of your screen.</li>
            <li>Fill out each information field. Fields with an asterisk are compulsory.</li>
            <li>If your dog’s breed is not listed under the <b>Breed</b> information field, please select Unknown. It is
possible to enter crossbreeds by including each breed as a percentage. For example, if your dog has
one parent that is a Golden Retriever and one that is a Toy Poodle you enter each breed at 50%.</li>
            <li>If you do not know your dog’s date of birth, simply enter 1st January of the estimated year.</li>
            <li>After adding your dog, rate how much your dog enjoys each activity listed under <b>Initial Activities</b>
Rating.</li>
        </ol>
    </p>
    
    <h4>
        Reporting your dog’s activities, health and behaviours, or puppy socialisation
    </h4>
    <p>
        <ol>
            <li>To add an activity, behaviour or a socialisation training session, select the relevant dog, then click on the <b>Reporting</b> tab to the left-hand side of the screen and then select <b>Activity, Behaviour or Puppy Socialisation</b> from the pop-up list at the bottom of your screen</li>
            <li>Fill out each field with the required information</li>
            <li>Please note that when recording behaviours, some will fall under multiple categories. Select the
category you feel best explains why your dog performed the behaviour.</li>
            <li>To add health symptoms, preventative treatments (e.g. parasite control) or medication (e.g.
tablets), select the relevant dog, then click on the <b>Health</b> tab and select what you wish to log. You will be prompted after entering <b>Treatments</b> to set a scheduled reminder for future use, if you wish.</li>
        </ol>
    </p>

    <h4>
        Permission to share with researchers/vets
    </h4>
    <p>
        <ol>
            <li>After creating a profile for your dog and recording some activities or behaviours, you can choose to share this information with your veterinarian or behaviourist. To do so, log in to the dashboard section on doglogbook.com. This is also where you can review your data.</li>
            <li>Click on <b>Permissions</b> to the left of the screen and enter your veterinarian’s/behaviourist’s email into the <b>User information</b> field.</li>
        </ol>
    </p>

    <p>
        For any questions or if you’d like further information, please go to doglogbook.com
    </p>
</div>