
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="faq-title">
        <h2>FAQ</h2>
    </div>

    <div class="faq-title">
        <ul>
            <li><a href="#faq-companion">COMPANION</a></li>
            <li><a href="#faq-workingdogs">WORKING DOG</a></li>
            <li><a href="#disclaimers">Disclaimer</a></li>
        </ul>

    </div>

    <div id="faq-companion" class="faq-companion">
        <h3>COMPANION</h3>

        <h4>
            What is doglogbook?
        </h4>
        <p>
            Doglogbook has been developed by a team of researchers from the Faculty of Veterinary Science at the University of Sydney (Australia). It aims to support evidence-based assessments of dog quality of life and enhance dog welfare in clinical practice, which are under-researched areas of veterinary science.
            This project has been approved by the University of Sydney’s human ethics committee (2015/854). Full Participant Information Statement is available here. (hyperlink to T&Cs full PIS below)
        </p>

        <h4>
            What’s my role?
        </h4>

        <p>
            Doglogbook is a citizen science app. This means we’re relying on people using the app to tell us what their dogs get up to.
            We’d like to know about your dog’s individual characteristics (e.g. age and breed), as well as their favourite activities, how they spend their day, additional behaviours and any health symptoms. You’ll be able to see how your dog compares to other dogs of the same age or breed or location. You can also choose to share this information with your veterinarian, so they get more insight into your dog’s everyday life.
            We’d like to see how things change over time, so it would be great if you could use the app regularly.
        </p>

        <h4>
            How long will it take?
        </h4>

        <p>
            Initial setup is expected to take around 15minutes. After that, the amount of time you spend logging your dog’s activities depends on you. You can tell the app how frequently you’d like to be prompted to log activities and update your responses over time. We suggest around 5min every 1-2 days is realistic.
            Will it cost me anything?
            The app will be free of charge, with no cost to participants.
        </p>
        <h4>
            Do I have to do it?
        </h4>
        <p>
            No, participation is completely voluntary and available to anyone over the age of 18 years.
            You can withdraw from participating at any time. Full details available here. (hyperlink to T&Cs full PIS below)
        </p>
        <h4>
            Who is behind doglogbook?
        </h4>
        <p>
            The app has been developed to inform studies being carried out by the following researchers:
            <ul>
                <li>Professor Paul McGreevy, The University of Sydney</li>
                <li>Dr Jane Johnson, The University of Sydney</li>
                <li>Dr Melissa Starling, The University of Sydney</li>
                <li>Dr Vicky Tzioumis, The University of Sydney</li>

            </ul>


        </p>
        <p>
            This project has been funded by the Australian Government Office for Learning and Teaching, the Rural Industries Research and Development Corporation, Meat and Livestock Australia.
            Doglogbook has the support of the Working Kelpie Council of Australia, and the Australian Working Dog Alliance and the <a href="http://sydney.edu.au/perkins/research/current-research/dog-ownership-and-human-health.shtml" target="_blank">Dog Ownership & Human Health node at the University of Sydney.</a>
        </p>

    </div>


    <div id="faq-workingdogs" class="faq-workingdogs">
        <h3>WORKING DOG</h3>


        <h4>What is doglogbook?</h4>
        <p>
            Dog logbook has been developed by a team of researchers from the Faculty of Veterinary Science at the University of Sydney (Australia). It can be used as a tool to track training sessions and assessment outcomes of working and sporting dogs. Additionally, it aims to support evidence-based assessments of dog quality of life and enhance dog welfare in clinical practice, which are under-researched areas of veterinary science.
            This project has been approved by the University of Sydney’s human ethics committee (2015/854). Full Participant Information Statement is available here. (hyperlink to T&Cs full PIS below)
        </p>
        <h4>
            What’s my role?
        </h4>
        <p>
            Doglogbook is a citizen science app. This means we’re relying on people using the app to tell us what their dogs get up to.
            We’d like to know about your dogs individual characteristics (e.g. age and breed), as well as what your training sessions are like (e.g. environment, duration, equipment), how the dogs are assessed, additional behaviours and any health symptoms. You’ll be able to see how your dog compares to other working dogs of the same age, or breed, or location. You can also choose to share this information with your veterinarian, so they get more insight into your dog’s everyday life.
            We’d like to see how things change over time, so it would be great if you could use the app regularly.
        </p>

        <h4>
            How long will it take?
        </h4>
        <p>
            Initial setup is expected to take around 15minutes. After that, the amount of time you spend logging your dog’s training and assessment activities depends on you. You can tell the app how frequently you’d like to be prompted to log activities and update your responses over time. We suggest logging every training and assessment session will give you the best information.
        </p>
        <h4>
            Will it cost me anything?
        </h4>
        <p>
            The app will be free of charge, with no cost to participants. You will be able to export your training and assessment logs via email for free as well.
        </p>

        <h4>
            Do I have to do it?
        </h4>
        <p>
            No, participation is completely voluntary and available to anyone over the age of 18 years.
            You can withdraw from participating at any time. Full details available here. (hyperlink to T&Cs full PIS below)
        </p>

        <h4>
            Who is behind doglogbook?
        </h4>
        <p>
            The app has been developed to inform studies being carried out by the following researchers:
            <ul>
                <li>Paul McGreevy, The University of Sydney</li>
                <li>Dr Jane Johnson, The University of Sydney</li>
                <li>Dr Melissa Starling, The University of Sydney</li>
                <li>Dr Vicky Tzioumis, The University of Sydney</li>
            </ul>
        </p>
        <p>
            This project has been funded by the Australian Government Office for Learning and Teaching, the Rural Industries Research and Development Corporation, Meat and Livestock Australia.
            Doglogbook has the support of the Working Kelpie Council of Australia, and the Australian Working Dog Alliance and the <a href="http://sydney.edu.au/perkins/research/current-research/dog-ownership-and-human-health.shtml" target="_blank">Dog Ownership & Human Health node at the University of Sydney.</a>
        </p>

    </div>


    <div id="disclaimers" class="faq-companion">
        <h3>Disclaimer</h3>

        <p>
            iTunes and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries, App Store is a service mark of Apple Inc. Android and Google Play are trademarks of Google Inc.
        </p>
        <p>
            The <b>doglogbook</b> mobile app and the <b>doglogbook</b> desktop dashboard provide information based on data entered by users. Smart Sports Solutions Pty Ltd has developed scientific algorithms for <b>doglogbook</b> and licensed to The University of Sydney for the purpose of analyzing data collected through <b>doglogbook</b> app. The information has been developed and reviewed by professionals and to the best of their knowledge is current and based on reputable sources of evidence at the time of publishing.
        </p>  
        <p>
            Whilst every care has been taken to ensure the accuracy of the data, no warranty of this accuracy is provided. All users should assess the accuracy and relevance of this information for their personal circumstances. The information should be used as a guide only and should not be relied upon as a substitute for professional veterinary advice.
        </p>  

        <p>
            The University of Sydney and Smart Sports Solutions Pty Ltd are not liable for any loss or damage you suffer arising out of the use of or reliance on the information, except that which cannot be excluded by law. We recommend that you consult a veterinarian or other qualified para-veterinary professional if you have questions or concerns about your dog’s health or welfare.
        </p>  
    </div>


        <div class="faq-title">
            <h2>
                <a href="/faq/terms">T&Cs [..]</a>
            </h2>

        </div>

    </div>