.view-add-activity {

  .item-divider {
    margin:0px;  
  }

  .range-not-applicable {
    border-bottom: 0px;
  }
  
  .rageMin {
    font-size: 0.8em;
    float: left;
  }

  .rageMax {
    font-size: 0.8em;
    float: right;
  }

}

