.view-add-session {

.item-input input, .item-input textarea {
    float: right;
    text-align: right;
}

.bar-footer {
  height: 65px;
}

.bar-footer .row {
  padding: 0px 5px;
}

.bar-footer .col {
  padding: 0px 5px;
}

}