.view-alert {
  
  .slider-pager {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
  }

  .list {
    min-height: 150px;
    padding-bottom: 15px;
  }
}