
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="faq-title">
        <h2>Terms and Conditions</h2>
    </div>

    <div class="faq-companion">
        <h3>COMPANION DOGS</h3>

        <strong>
            PARTICIPANT INFORMATION STATEMENT – Companion Dogs
            Assessing quality of life to enhance the welfare of dogs
        </strong>

        <h2>(1) What is this study about?</h2>

        <p>
            You are invited to take part in a research study about quality of life in dogs. This study aims to support evidence-based assessments of dog quality of life and enhance dog welfare in clinical practice. The study will focus on two contexts – dogs as companion animals and as workers. The study is significant because quality of life is an under-researched area of veterinary practice, yet it is crucial to ensuring good welfare.
        </p>

        <p>
            You have been invited to participate in this study because you are a companion dog owner. You can be involved in this research by downloading the ‘doglogbook App’, completing the registration form and questionnaire, and updating your responses over time. This Participant Information Statement tells you about the research study. Knowing what is involved will help you decide if you want to take part in the research. Please read this sheet carefully and ask questions about anything that you don’t understand or want to know more about.
        </p>

        <p>
            Participation in this research study is voluntary.

            By giving your consent to take part in this study, you are telling us that you:
            Understand what you have read.
            Agree to take part in the research study as outlined below.
            Agree to the use of your personal information as described.

            You will be given a copy of this Participant Information Statement to keep.

            Who is running the study?

            The study is being carried out by the following researchers:
            <ul>
                <li>Professor Paul McGreevy, The University of Sydney </li>
                <li>Dr Jane Johnson, The University of Sydney </li>
                <li>Dr Melissa Starling, The University of Sydney </li>
                <li>Dr Vicky Tzioumis, The University of Sydney  </li>
            </ul>

            This study is funded by the Australian Government Office for Learning and Teaching, the Rural Industries Research and Development Corporation, Meat and Livestock Australia, and has received support from the Working Kelpie Council of Australia and Australian Working Dog Alliance.
        </p>

        <h2>(2) Who is running the study?</h2>

        <p>
            The study is being carried out by the following researchers:
        </p>
        <ul>
            <li>Professor Paul McGreevy, The University of Sydney</li>
            <li>Dr Jane Johnson, The University of Sydney</li>
            <li>Dr Melissa Starling, The University of Sydney</li>
            <li>Dr Vicky Tzioumis, The University of Sydney </li>
        </ul>

        <p>
            This study is funded by the Australian Government Office for Learning and Teaching, the Rural Industries Research and Development Corporation, Meat and Livestock Australia, and has received support from the Working Kelpie Council of Australia and Australian Working Dog Alliance.
        </p>

        <h2>(3) What will the study involve for me?</h2>

        <p>
            Once you have downloaded the doglogbook App, you will be asked to provide information about yourself, your household and your companion dog/s. We are asking for information on the composition of your household because there is evidence that human household composition can affect the amount of exercise that dogs receive and can be associated with some forms of unwelcome behaviour, such as separation anxiety. There are 4 main categories of information required for your dog – i) basic data (age, breed, weight etc.); ii) how your dog is managed and cared for, activities your dog engages in and the time spent in these activities; iii) how you rate your companion dog’s pleasure when engaged in these activities; and iv) medical information (behaviours exhibited, symptoms displayed and regular treatments administered).
        </p>
        <p>
            VetCompass Australia is a study that collects electronic animal health records from primary veterinary practices. The project aims to identify the prevalence and severity of disease syndromes and specific diseases seen in the general population of Australian cats, dogs and equids (horses, ponies and donkeys) and to analyse the importance of potential risk factors such as breed, age and sex. Researchers using the VetCompass data will not be able to access your dog’s microchip number.
        </p>
        <p>
            We are interested in exploring how a dog’s quality of life changes over time, so we hope you will use the App regularly. Ideally, we would like you to revisit medical information every 6 months (or more often, as directed by your veterinarian), the time spent in activities per week, and how you rate these activities in terms of pleasure for your dog annually. The App will send a reminder to update each of these, defaulting to the above intervals. However, the frequency of these reminders can be altered by you and/or your vet. Ultimately, it is at your discretion how frequently you use the App.
        </p>
        <p>
            A notification will be generated if there is a percentage decline in the time spent in, or pleasure derived from, certain activities. You and/or your veterinarian can determine the percentage you wish to track. You will be able to compare your dog’s data with de-identified data from other dogs of the same age or breed.
        </p>

        <h2> (4) How much of my time will the study take? </h2>

        <p>
            The initial questionnaire should take about 15 minutes to complete. Although there are recommendations built into the App, you can update your responses as often as you like so that the total time commitment to the study depends on you.
        </p>

        <h2> (5) Who can take part in the study? </h2>

        <p>
            Anyone over 18 years of age who owns a companion dog.
        </p>

        <h2> (6) Do I have to be in the study? Can I withdraw from the study once I've started? </h2>

        <p>
            Being in this study is completely voluntary and you do not have to take part. Your decision whether to participate will not affect your current or future relationship with the researchers or anyone else at the University of Sydney.
        </p>

        <p>
            If you decide to take part in the study and then change your mind later, you are free to withdraw at any time. You can do this by contacting Paul McGreevy at paul.mcgreevy@sydney.edu.au or Melissa Starling at melissa.starling@sydney.edu.au.
        </p>

        <p>
            Completing registration for the App and submitting responses to questions is an indication of your consent to participate in the study. You can withdraw your responses if you change your mind about having them included in the study, up to the point that we have analysed and published the results. We expect the project will continue for four years.
            Please note that if you do withdraw from the study you will no longer have access to the share and compare function of the App. For more details about this function please see point 8 below. All other functions will remain available.
        </p>

        <h2> (7) Are there any risks or costs associated with being in the study? </h2>


        <p>
            Aside from giving up your time, we do not expect that there will be any risks or costs associated with taking part in this study.
        </p>

        <h2> (8) Are there any benefits associated with being in the study? </h2>


        <p>
            The primary benefit to involvement in this study is access to the full functionality of the Doglogbook App. Using the App means you can – store basic information about your dog (e.g. microchip number, birthdate etc.); store and track medical information, set alerts for when regular treatments are due; log information about symptoms and behaviours exhibited by your dog; and track your dog’s quality of life as demonstrated in time spent and pleasure experienced in certain activities. This information can contribute to evidence-based decisions regarding your dog. The App also allows you to share your de-identified data with the database and then compare your dog’s data with those of similar de-identified dogs e.g., of the same breed, or age.
        </p>


        <p>
            We anticipate there will be benefits to future dog owners based on this research. For companion dogs the study aims to collect longitudinal data about: the activities these dogs engage in, the time spent in these activities and the pleasure dogs elicit from such activities. Analysis of these data will enable a better understanding of the quality of life of companion dogs and will inform better practice around companion animal welfare.
        </p>
        <h2> (9) What will happen to information about me that is collected during the study? </h2>

        <p>
            By providing your consent, you are agreeing to us collecting personal information about you for the purposes of this research study. Your information will only be used for the purposes outlined in this Participant Information Statement, unless you consent otherwise. If you wish, you can elect to have your dog’s data shared with your veterinarian, as named in the registration forms.
        </p>

        <p>
            Your information will be stored securely and your identity/information will be kept strictly confidential, except as required by law and if you direct that your information be shared with a named third party, such as your veterinarian. Study findings may be published, but you will not be individually identifiable in these publications.
        </p>

        <p>
            We will keep the information we collect for this study, and we may use it in future reports, such as on trends in dog-keeping styles. By providing your consent you are allowing us to use your information in these reports.
        </p>

        <h2> (10) Can I tell other people about the study? </h2>

        <p>
            Yes, you are welcome to tell other people about the study.
        </p>

        <h2> (11) What if I would like further information about the study? </h2>

        <p>
            When you have read this information, Prof Paul McGreevy and Dr Melissa Starling will be available to discuss it with you further and answer any questions you may have. If you would like to know more at any stage during the study, please feel free to contact Prof McGreevy on paul.mcgreevy@sydney.edu.au or 61 2 9351 2810 or Dr Starling at melissa.starling@sydney.edu.au.
        </p>

        <h2> (12) Will I be told the results of the study? </h2>

        <p>
            You have a right to receive feedback about the overall results of this study. You can tell us that you wish to receive feedback by answering a question to this effect in the App. This feedback will be in the form of a one-page plain language summary. You will receive this feedback after the study has finished.
        </p>

        <h2> (13) What if I have a complaint or any concerns about the study? </h2>

        <p>
            Research involving humans in Australia is reviewed by an independent group of people called a Human Research Ethics Committee (HREC). The ethical aspects of this study have been approved by the HREC of the University of Sydney (2015/854). As part of this process, we have agreed to carry out the study according to the National Statement on Ethical Conduct in Human Research (2007). This statement has been developed to protect people who agree to take part in research studies.
        </p>

        <p>
            If you are concerned about the way this study is being conducted or you wish to make a complaint to someone independent from the study, please contact the University using the details outlined below. Please quote the study title and protocol number.
        </p>

        <p>
            The Manager, Ethics Administration, University of Sydney:
            <ul>
                <li>Telephone: +61 2 8627 8176</li>
                <li>Email: ro.humanethics@sydney.edu.au</li>
                <li>Fax: +61 2 8627 8177 (Facsimile)</li>
            </ul>
        </p>

        <h3> PARTICIPANT INFORMATION STATEMENT – Working Dogs </h3>
        <h3> Assessing quality of life to enhance the welfare of dogs </h3>

        <h2> (14) What is this study about?</h2>

        <p>
            You are invited to take part in a research study about quality of life in dogs. This study aims to support evidence-based assessments of dog quality of life and enhance dog welfare in clinical practice. The study will focus on two contexts – dogs as companion animals and as workers. The study is significant because quality of life is an under-researched area of veterinary practice, yet it is crucial to ensuring good welfare.
        </p>

        <p>
            You have been invited to participate in this study because you are a working dog owner, handler or trainer. You can be involved in this research by downloading the ‘doglogbook App’, completing the registration form and questionnaire, and updating your responses over time. This Participant Information Statement tells you about the research study. Knowing what is involved will help you decide if you want to take part in the research. Please read this sheet carefully and ask questions about anything that you don’t understand or want to know more about.
        </p>

        <p>
            Participation in this research study is voluntary.

            By giving your consent to take part in this study, you are telling us that you:
            <ul>
                <li>Understand what you have read.</li>
                <li>Agree to take part in the research study as outlined below.</li>
                <li>Agree to the use of your personal information as described.</li>
            </ul>
            You will be given a copy of this Participant Information Statement to keep.
        </p>

        <h2> (15) Who is running the study? </h2>

        <p>
            The study is being carried out by the following researchers:

            <ul>
                Professor Paul McGreevy, The University of Sydney
                <li>Dr Jane Johnson, The University of Sydney</li>
                <li>Dr Melissa Starling, The University of Sydney</li>
                <li>Dr Vicky Tzioumis, The University of Sydney </li>
            </ul>
        <p>

        <p>
            This study is funded by the Australian Government Office for Learning and Teaching, the Rural Industries Research and Development Corporation, Meat and Livestock Australia, and has received support from the Working Kelpie Council of Australia and the Australian Working Dog Alliance.
        </p>

        <h2> (16) What will the study involve for me? </h2>

        <p>
            Once you have downloaded the doglogbook App, you will be asked to provide information about yourself, your household and your working dog/s. We are asking for information on the composition of your household because there is evidence that human household composition can affect the amount of exercise that dogs receive and can be associated with some forms of unwelcome behaviour, such as separation anxiety. There are 4 main categories of information required for your dog – i) basic data (age, breed, weight etc.); ii) how your dog is managed and cared for, activities your dog engages in and the time spent in these activities; iii) how your working dog’s performance is rated when engaged in these activities; and iv) medical information (behaviours exhibited, symptoms displayed and regular treatments administered).
        </p>
        <p>
            VetCompass Australia is a study that collects electronic animal health records from primary veterinary practices. The project aims to identify the prevalence and severity of disease syndromes and specific diseases seen in the general population of Australian cats, dogs and equids (horses, ponies and donkeys) and to analyse the importance of potential risk factors such as breed, age and sex. Researchers using the VetCompass data will not be able to access your dog’s microchip number.
        </p>
        <p>
            We are interested in exploring how a dog’s quality of life changes over time, so we hope you will use the App regularly. Ideally, we would like you to revisit medical information every 6 months (or more often, as directed by your veterinarian), the time spent in activities per week, and your dog’s performance in these activities monthly. The App will send a reminder to update each of these, defaulting to the above intervals. However the frequency of these reminders can be altered by you and/or your vet. Ultimately, it is at your discretion how frequently you use the App.
            A notification will be generated if there is a percentage decline in the time spent or performance demonstrated in certain activities. You and/or your veterinarian can determine the percentage you wish to track. You will be able to compare your dog’s data with de-identified data from other dogs of the same age or breed.
        </p>

        <h2> (17) How much of my time will the study take? </h2>

        <p>
            The initial questionnaire should take about 15 minutes to complete. Although there are recommendations built into the App, you can update your responses as often as you like so that the total time commitment to the study depends on you.
        </p>

        <h2> (18) Who can take part in the study? </h2>

        <p>
            Anyone over 18 years of age who owns, or is a handler or trainer of a working dog.
        </p>
        <h2> (19) Do I have to be in the study? Can I withdraw from the study once I've started?</h2>

        <p>
            Being in this study is completely voluntary and you do not have to take part. Your decision whether to participate will not affect your current or future relationship with the researchers or anyone else at the University of Sydney.
        </p>

        <p>
            If you decide to take part in the study and then change your mind later, you are free to withdraw at any time. You can do this by contacting Paul McGreevy at paul.mcgreevy@sydney.edu.au or Melissa Starling at melissa.starling@sydney.edu.au
        </p>

        <p>
            Completing registration for the App and submitting responses to questions is an indication of your consent to participate in the study. You can withdraw your responses if you change your mind about having them included in the study, up to the point that we have analysed and published the results. We expect the project will continue for four years.
            Please note that if you do withdraw from the study you will no longer have access to the share and compare function of the App. For more details about this function please see point 8 below. All other functions will remain available.
        </p>

        <h2> (20) Are there any risks or costs associated with being in the study?</h2>

        <p>
            Aside from giving up your time, we do not expect that there will be any risks or costs associated with taking part in this study.
        </p>

        <h2> (21) Are there any benefits associated with being in the study? </h2>

        <p>
            The primary benefit to involvement in this study is access to the doglogbook App. Using the App means you can – store basic information about your dog (e.g. microchip number, birthdate etc.); store and track medical information, setting alerts for when regular treatments are due; log information about symptoms and behaviours exhibited by your dog; and track your dog’s skill levels in certain activities. This information can contribute to evidence-based decisions regarding your dog. The App also allows you to share your de-identified data with the database and then compare your dog’s data with those of similar unidentified dogs e.g., of the same bred, age or stage of training.
        </p>

        <p>
            We anticipate there will be benefits to future dog owners based on this research. For working dogs, the study aims to collect longitudinal data on - the activities these dogs engage in, the time spent in these activities and the skills which result. Analysis of these data will enable a better understanding of the quality of life of working dogs and will inform better practice around working dog welfare.
        </p>


        <h2> (22) What will happen to information about me that is collected during the study? </h2>

        <p>
            By providing your consent, you are agreeing to us collecting personal information about you for the purposes of this research study. Your information will only be used for the purposes outlined in this Participant Information Statement, unless you consent otherwise. If you wish, you can elect to have your dog’s data shared with your veterinarian, as named in the registration forms.
        </p>

        <p>
            Your information will be stored securely and your identity/information will be kept strictly confidential, except as required by law and if you direct that your information be shared with a named third party, such as your veterinarian. Study findings may be published, but you will not be individually identifiable in these publications.
        </p>

        <p>
            We will keep the information we collect for this study, and we may use it in future reports, such as on trends in dog-keeping styles. By providing your consent you are allowing us to use your information in these reports.
        </p>

        <h2> (23) Can I tell other people about the study? </h2>

        <p>
            Yes, you are welcome to tell other people about the study.
        </p>

        <h2> (24) What if I would like further information about the study? </h2>

        <p>
            When you have read this information, Prof Paul McGreevy or Dr Melissa Starling will be available to discuss it with you further and answer any questions you may have. If you would like to know more at any stage during the study, please feel free to contact Prof McGreevy on paul.mcgreevy@sydney.edu.au or 61 2 9351 2810 or Dr Starling at melissa.starling@sydney.edu.au.
        </p>

        <h2> (25) Will I be told the results of the study?</h2>

        <p>
            You have a right to receive feedback about the overall results of this study. You can tell us that you wish to receive feedback by answering a question to this effect in the App. This feedback will be in the form of a one page plain language summary. You will receive this feedback when the study is finished.
        <p>

            <h2> (26) What if I have a complaint or any concerns about the study? </h2>

        <p>
            Research involving humans in Australia is reviewed by an independent group of people called a Human Research Ethics Committee (HREC). The ethical aspects of this study have been approved by the HREC of the University of Sydney (2015/854). As part of this process, we have agreed to carry out the study according to the National Statement on Ethical Conduct in Human Research (2007). This statement has been developed to protect people who agree to take part in research studies.
        </p>

        <p>
            If you are concerned about the way this study is being conducted or you wish to make a complaint to someone independent from the study, please contact the University using the details outlined below. Please quote the study title and protocol number.
        </p>

        <p>
            The Manager, Ethics Administration, University of Sydney:
            <ul>
                <li>Telephone: +61 2 8627 8176</li>
                <li>Email: ro.humanethics@sydney.edu.au</li>
                <li>Fax: +61 2 8627 8177 (Facsimile)</li>
            </ul>
        </p>

    </div>



    <div class="faq-more">
        <h4>
            Support for this project has been provided by the:
        </h4>
        <ul>
            <li>Australian Government Office for Learning and Teaching.</li>
            <li>Rural Industries Research and Development Corporation</li>
            <li>Meat and Livestock Australia</li>
        </ul>
        The views in this project do not necessarily reflect the views of any of these stakeholders.
    </div>

</div>