[submodule "lib/doglogbook-db"]
	path = lib/doglogbook-db
	url = git@bitbucket.org:doglogbook/doglogbook-db
[submodule "lib/smartsports.data"]
	path = lib/smartsports.data
	url = git@bitbucket.org:doglogbook/smartsports.data
[submodule "lib/smartsports.mvc"]
	path = lib/smartsports.mvc
	url = git@bitbucket.org:doglogbook/smartsports.mvc